body{
     background-color:#1b2026;
     color: #ffffff;
}

#cpp{
    width: 0%;
}
#git{
    width: 0%;
}
#Full-Stack{
    width: 0%;
}
#Java{
    width: 0%;
}
#Java{
    DevOps: 0%;
}

/* Modal */
#profilePic {
    cursor: pointer;
    transition: 0.3s;
}

#profilePic:hover {opacity: 0.7;}

.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);

}


.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    z-index: 4;
}


.modal-content{
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}


.close {
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;

}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

/*Back To Top*/
#backToTop{
    cursor: pointer;
    font-size: 18px;
    color: white;

}
#backToTop:hover {
    opacity: 0.7;
}

/*Red Required Text*/

.rq {
    color:
            #FF0000;
    font-size: 10pt;
}
